.portfolio__menu-list{
    display: flex;
    justify-content: left;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 10px 8px;
}

.menu-list__item{

}
.menu-list__button{
    @extend %button;
    background-color: #F5F4FA;
  

        @include transition (color);
        @include transition (background-color);
        @include transition (box-shadow);

    
    &:hover, :focus{
        background-color: var(--third-color);
        color: var(--fourth-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    }
}

@media screen and (min-width: 768px) {
    .portfolio__menu-list{
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;
    }
  
}
@media screen and (min-width: 1200px) {
    .portfolio__menu-list{
        margin-bottom: 50px;
}

.menu-list__item{

}
.menu-list__button{
}
}