:root{
    --main-font-family: Roboto, sans-serif;
    
    --primiry-color: #757575;
    --secondary-color: #212121;
    --third-color: #2196F3;
    --fourth-color: #ffffff;
    
}

.main{
    flex: 1 1 auto;
}


